API_DOMAIN=api.example.com

ConnectionStrings__DefaultConnection=
Jwt__Secret=
Jwt__Issuer=supershop
Jwt__Audience=supershop
Cloudinary__Url=
Email__ApiKey=
Email__From=
Admin__Email=
Admin__Password=
Cors__AllowedOrigins__0=
Frontend__Url=
